*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#c, #req{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#req{
    z-index: 1;
    background: transparent;
    border: none;
    outline: none;
}